.page-cont {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.send-btn {
    padding-left: 10px;
}

.user-msgbox {
    position: fixed;
    padding: 10px 30px 10px 30px;
    bottom: 0;
    height: auto;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1000;
}

.user-msg {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.chat-msg-cont {
    height: 78%;
    padding: 30px;
    overflow-y: scroll;
}

.chat-msg {
    margin-bottom: 20px;
}
