body {
    width: 100%;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.modal-fade {
    background-color: #ffff;
    border: 2px solid #fff;
    padding: 40px;
    text-align: center;
}

.modal-input {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.page-cont {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    align-items: center;
}

.header {
    display: flex;
    margin: 10px;
    width: 100%;
    max-width: 700px;
    align-items: center;
}

h1 {
    flex-grow: 3;
    margin: 20px;
}

/* .header Button {
    /* margin: 20px */
/* }  */

.user-msgbox {
    position: fixed;
    padding: 10px 20px 10px 30px;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 1000;
    max-width: 600px;
}

.user-msg {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.chat-msg-cont {
    height: calc(100vh - (80px + 110px));
    padding: 30px;
    overflow-y: scroll;
    width: 100%;
    max-width:600px;
    flex-basis: auto;
}

.chat-msg {
    margin-bottom: 20px;
}
