body {
    width: 100%;
}
.page-cont {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    align-content: center;
}

.header {
    height: 40px;
}

.send-btn {
    padding-left: 10px;
}

.user-msgbox {
    position: fixed;
    padding: 10px 30px 10px 30px;
    bottom: 0;
    height: auto;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1000;
    max-width: 50%;
}

.user-msg {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.chat-msg-cont {
    height: calc(100vh - (80px + 90px));
    padding: 30px;
    overflow-y: scroll;
}

.chat-msg {
    margin-bottom: 20px;
}
